* {
    margin: 0;
    padding: 0;
    transition: all 0.5s !important;
    -webkit-transition: all 0.5s !important;
    -o-transition: all 0.5s !important;
    -ms-transition: all 0.5s !important;
    -moz-transition: all 0.5s !important;
    
}

.info-text {
    font-size: 1.4em;
    margin: 0px 10% !important;
}

.hidden {
    display: none !important;
}

div#info {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 0;
}

div#infoContent {
    height: 40% !important;
    margin: 0 !important;
    padding: 0 !important;
}

div#paper {
    height: 0px;
    border: 2px solid white;
    border-radius: 5px;
    border-top-right-radius: 20px;
    border-top-left-radius: 7.5px;
    width: calc(50% / 5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    background-color: rgba(111, 111, 111, 0.03);
    margin-top: 15px;
}

p#cake {
    position: relative;
    text-align: center;
    width: 80%;
    margin: 3.5px;
    margin-bottom: 5px;
    margin-left: 10%;
    color: white;
    font-size: 2em;
}

#slide1 {
    height: 100% !important;
    top: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
}

#slide1.active {
    display: flex;
    opacity: 1;
}

.paper-line {
    border: 1.5px solid white;
    border-radius: 20%;
    background-color: black;
    width: 80%;
    margin: 3.5px;
    margin-left: 10%;
}

.lineInFocus {
    border-color: rgba(211, 33, 33, 0.9);
    background-color: rgba(211, 33, 33, 0.9);
}

.correctLine {
    border-color: rgba(0, 163, 49, 0.9);
    background-color: rgba(0, 163, 49, 0.9);
}

@media screen and (max-width: 992px) {
    div#paper {
        height: 150px;
        width: calc(55% / 3);
    }

    .paper-line:last-child {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    div#info.hidden div#paper {
        height: 0 !important;
    }
    div#paper {
        height: 140px;
        width: calc(300px / 3);
    }

    .paper-line:last-child {
        display: none;
    }
}

@media screen and (max-height: 600px) {
    div#paper {
        width: 110px;
    }
}